<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.40">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.7.2"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.7.2">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.1.3"/>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.32.0">
      <projectUrl>https://github.com/ripo4ek/identidock/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.SCMTrigger>
          <spec></spec>
          <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.87">
    <script>pipeline {
agent {
docker{
image &apos;python&apos;
args &apos;-u root:root -p 8000:8000&apos;
}
}

stages {
stage(&apos;pulling&apos;) {
steps {
git branch: &apos;main&apos;, url: &apos;https://github.com/ripo4ek/identidock&apos;
}
}
stage(&apos;testing&apos;) {
steps {
sh &apos;python --version&apos;
sh &apos;python -m venv env&apos;
sh &apos;python -c &quot;import this&quot;&apos;
sh &apos;. env/bin/activate&apos;
sh &apos;pip install --upgrade pip&apos;
sh &apos;pip install pytest&apos;
sh &apos;pip install -r requirements.txt&apos;
sh &apos;cd app&apos;
sh &apos;pytest&apos;
}
}
}
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>